# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Virtual environments
venv/
.env/
.venv/

# Build artifacts
gz_transport_py/build/
*.so

# Docker local overrides
docker-compose.override.yml

# Training artifacts
models/
logs/
*.zip
events.out.tfevents.*

# IDE
.vscode/
.devcontainer/

rl_uav_package.egg-info/

UAV-RL-Landing.code-workspace