# ROS 2 build folders
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
ros2_ws/logs/

# Python caches
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/
.venv/

# Docker Local Overrides
docker-compose.override.yml

# Machine Learning Artifacts
ros2_ws/models/
*.zip
events.out.tfevents.*